  body{
    background-color: #221d28 !important;
  }
  *{
    font-family: Lato;
    color: aliceblue;
  }
  footer{
      text-align: center;
    color: rgba(240, 248, 255, 0.158) !important;
  }
  h1{
      color: blueviolet !important;
      text-align: center;
  }
  h2{
    color: rgb(100, 100, 255) !important;

  }
  h3{
    color: cadetblue !important;
  }
  .form{
    color: rgb(100, 100, 255) !important;
  }
  hr{
      color: rgb(255, 255, 255) !important;
  }
  body{
    background-color: #221d28;
  }
  main{
      padding-left: 20%;
      padding-right: 20%;
  }
  table, th, td {
    border: 1px solid !important;
  }
  th,td{
    padding: 5px;
  }
  .table{
    overflow-x:auto;
  }
  .carousel-photo{
      min-width: 600px;
      max-width: 900px;

      min-height: 500px;
      max-height: 600px;
  }
  iframe{
    margin-left: 0 !important;
      height: 800px;
      width: 960px;
  }
  .git{
    max-width: 50px;
    max-height: 50px;
    opacity: 0.5;
  }
  .git:hover{
      opacity: 1;
  }
  .plat{
      max-width: 100px;
      max-height: 50px;
  }
  .GJ{
    max-width: 300px;
    max-height: 100px;
  }
  .away{
    margin-left: 10%;
  }