  body{
    background-color: #221d28 !important;
  }
  *{
    font-family: Lato;
    color: aliceblue;
  }
  hr{
      color: black !important;
  }
  body{
    background-color: #221d28;
  }
  main{
      padding-left: 20%;
      padding-right: 20%;

  }
  table, th, td {
    border: 1px solid !important;
  }
  th,td{
    padding: 5px;
  }
  .table{
    overflow-x:auto;
  }
  .carousel-photo{
      min-width: 600px;
      max-width: 900px;

      min-height: 500px;
      max-height: 600px;
  }
  iframe{
      height: 1000px;
      width: 1000px;
  }